body {
  margin: 0;
}

.hero {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  background-image: url("../images/hero-bg.png?as=webp");
  background-color: #0b1b3a;
  background-size: cover;
  background-position: center;
}

.hero-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex: 1;
  border-radius: 32px;
  border: 4px solid var(--Primary-600);
}

.header {
  display: flex;
  align-self: flex-end;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.font-display {
  font-family: var(--font-family-display);
  font-size: var(--font-display-size);
  font-weight: var(--font-display-weight);
  color: var(--Primary-0);
}
